<div id="sidebar" class="col-md-3 container">
  <div id="userPicture" class="well centered">
    <%= link_to (image_tag 'user.png', :width => 200, :height => 200), '#' %>
  </div>

  <hr/>

  <div id="userData">
    <span class="dBlock name"><strong><%= @user.name %></strong></span>
    <span class="dBlock email text-muted"><%= @user.email %></span>
  </div>

  <hr/>
</div>