/*
 ==================================================
 Autor: Juan Carlos Espinosa Ceniceros
 ==================================================
*/

/*
 ==================================================
 Styles for HTML TAGS
 ==================================================
*/

body {
  padding-top: 50px;
  padding-bottom: 50px;
}

hr {
  margin: 10px 0 10px 0;
}

html, body {
  height: 100%;
}
/*
input[type=text] {
  height: 32px;
}
*/
select {
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
}

small {
  color: #999999;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 ==================================================
 Styles to override BOOTSTRAP CLASSES
 ==================================================
*/

.alert {
  margin-bottom: 10px;
}

.btn {
  margin-right: 5px;
}

.carousel-control {
  width: 10%;
}

.carousel-indicators {
  bottom: -5px;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  background-color: #c0c0c0;
  border: 1px solid #000000;
}

.carousel-indicators .active {
  width: 15px;
  height: 15px;
  background-color: #000000;
  border: 1px solid #000000;
}

.item {
  padding-top: 30px;
  min-height: 450px;
}

.modal-footer{
  margin: 0;
}

.nav-tabs{
  padding-bottom: 15px;
}

.panel-body {
  padding: 15;
}


/*
 ==================================================
 Styles for USER GLOBAL CLASSES
 ==================================================
*/

.dBlock {
  display: block;
}

.centered {
  text-align: center;
}

.divider {
  min-height: 40px;
}

.form-group.error .checkbox{
  color: #ff0039;
}

.form-group.success .checkbox{
  color: #3fb618;
}

.justify {
  text-align: justify;
}

.opaque {
  background-color: rgba(0, 0, 0, 0.7);
}

.white {
  color: #ffffff;
}


/*
 ==================================================
 Styles for USER SPECIFIC CLASSES
 ==================================================
*/

div.mainContainer {
  padding-top: 20px;
  min-height: 100%;
}

div.profileField {
  border: 2px solid #e8e8e8;
  padding: 5px;
  margin-top: 5px;
}

label.valid {
  width: 24px;
  background: url(../images/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  color: #ff0039;
  display: inline-block;
  padding: 0 0 0 10px;
}

ul.projects li, ul.users li {
  padding: 10px 0 10px 0;
  margin: 0;
  border-top: 1px solid #e8e8e8;
}


/*
 ==================================================
 Styles for USER ID's
 ==================================================
*/

div#header {
  background: url(/assets/1.png) 50% 1% fixed;
}

div#info {
  background-color: rgba(0,0,0,0.7);
  padding: 40px 0 40px 0;
  color: #000000;
}

div#sidebar {
  border-right: 1px solid #e3e3e3
}

div#userCaseContainer {
  padding: 0px;
}

#formContainer, #success, #sending, #error {
  min-height: 350px;
}

ul#errors {
  color: #ff0000;
  font-size: 10px;
  margin-bottom: 10px;
}
